@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap
);
*{margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Spartan, sans-serif;
}



h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;   
}
h4{
    font-size: 20px;
    color: #222;
}
h5{
    font-size: 25px;
    color: #d9e0e2;
}
h6{
    font-weight: 700;
   font-size: 12px;
    color: #222;
}
p{
    font-size: 16px;
    color: #2f3b08;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin:40px 0;
}
body{
    width:100%;
}

/* Header Starts*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #080408;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); 
}
.logo{
    height: 70px;
    width: 450px;
    margin-left: -9%;
   
    margin-top: -4%;
    margin-bottom: -4%;
    
   
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -25%;
    
}
#navbar li{
    list-style: none;
    padding: 0 10px;
    margin-bottom: -7%;
    color:aquamarine;
    
}


#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#e6ceee;
}
#navbar li a:hover{
    color: #088178;
}
.footer{
    text-align: center;
    margin-top: -7%;
}

/* Dashboard style*/


#log li {
    list-style:none;
    margin-top: -8%;
    margin-bottom: -8%;
    text-align: right;
    margin-right: 20%;
    margin-left: -20%;
}
#log li a{
    text-decoration: none;
    color:aquamarine ;
    margin-right: -30%;
    font-size: 13px;
}
#logout a{
    color: aquamarine;
    text-align-last:justify;
}



